<hr/>

{{ partial "shared/common-header.html" . }}
<div style="flex: 1; height: 0.4em;"></div>
<div style="display: flex; gap: 0.4rem;">
	<a href="https://docs.junit.org/5.10.5/user-guide/" target="_blank" rel="noopener noreferrer">
		<img alt="JUnit" src="https://img.shields.io/maven-central/v/org.junit.jupiter/junit-jupiter?filter=5.10.5&label=JUnit">
	</a>

	<a href="https://docs.spring.io/spring-framework/reference/6.0/index.html" target="_blank" rel="noopener noreferrer">
		<img alt="SpringFramework" src="https://img.shields.io/maven-central/v/org.springframework/spring-framework-bom?filter=6.0.23&label=SpringFramework">
	</a>

	<a href="https://docs.spring.io/spring-boot/docs/3.1.x/reference/html/" target="_blank" rel="noopener noreferrer">
		<img alt="SpringBoot" src="https://img.shields.io/maven-central/v/org.springframework.boot/spring-boot-starter-parent?filter=3.1.12&label=SpringBoot">
	</a>

	<a href="https://www.instancio.org/user-guide/" target="_blank" rel="noopener noreferrer">
		<img alt="Instancio" src="https://img.shields.io/maven-central/v/org.instancio/instancio-core?filter=5.5.1&label=Instancio">
	</a>

	<a href="https://openclover.org/documentation">
		<img alt="OpenClover" src="https://img.shields.io/maven-central/v/org.openclover/clover-maven-plugin?filter=4.5.2&label=OpenClover">
	</a>
</div>
