<hr/>

{{ partial "shared/common-header.html" . }}
<div style="flex: 1; height: 0.4em;"></div>
<div style="display: flex; gap: 0.4rem;">
	<a href="https://docs.junit.org/current/user-guide/" target="_blank" rel="noopener noreferrer">
		<img alt="JUnit" src="https://img.shields.io/badge/dynamic/xml?url=https%3A%2F%2Fraw.githubusercontent.com%2Fmikelue%2Ffoxglove%2Frefs%2Fheads%2Fmain%2Fpom.xml&query=%2F*%5Blocal-name()%3D'project'%5D%2F*%5Blocal-name()%3D'properties'%5D%2F*%5Blocal-name()%3D'version.junit'%5D&logo=junit5&label=JUnit">
	</a>

	<a href="https://docs.spring.io/spring-framework/reference/6.0/index.html" target="_blank" rel="noopener noreferrer">
		<img alt="SpringFramework" src="https://img.shields.io/badge/dynamic/xml?url=https%3A%2F%2Fraw.githubusercontent.com%2Fmikelue%2Ffoxglove%2Frefs%2Fheads%2Fmain%2Fpom.xml&query=%2F*%5Blocal-name()%3D'project'%5D%2F*%5Blocal-name()%3D'properties'%5D%2F*%5Blocal-name()%3D'version.spring'%5D&logo=spring&label=SpringFramework">
	</a>

	<a href="https://docs.spring.io/spring-boot/docs/3.1.x/reference/html/" target="_blank" rel="noopener noreferrer">
		<img alt="SpringBoot" src="https://img.shields.io/badge/dynamic/xml?url=https%3A%2F%2Fraw.githubusercontent.com%2Fmikelue%2Ffoxglove%2Frefs%2Fheads%2Fmain%2Fpom.xml&query=%2F*%5Blocal-name()%3D'project'%5D%2F*%5Blocal-name()%3D'properties'%5D%2F*%5Blocal-name()%3D'version.spring-boot'%5D&logo=springboot&label=SpringFramework">
	</a>

	<a href="https://www.instancio.org/user-guide/" target="_blank" rel="noopener noreferrer">
		<img alt="Instancio" src="https://img.shields.io/badge/dynamic/xml?url=https%3A%2F%2Fraw.githubusercontent.com%2Fmikelue%2Ffoxglove%2Frefs%2Fheads%2Fmain%2Fpom.xml&query=%2F*%5Blocal-name()%3D'project'%5D%2F*%5Blocal-name()%3D'properties'%5D%2F*%5Blocal-name()%3D'version.instancio'%5D&label=Instancio">
	</a>

	<a href="https://openclover.org/documentation">
		<img alt="OpenClover" src="https://img.shields.io/badge/dynamic/xml?url=https%3A%2F%2Fraw.githubusercontent.com%2Fmikelue%2Ffoxglove%2Frefs%2Fheads%2Fmain%2Fpom.xml&query=%2F*%5Blocal-name()%3D'project'%5D%2F*%5Blocal-name()%3D'properties'%5D%2F*%5Blocal-name()%3D'version.plugin.clover'%5D&logo=codecov&label=OpenClover">
	</a>
</div>
